<!DOCTYPE html>
<html>
<head>
  <title>Coderchat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <% if flash.any? %>
        <% flash.each do |key, value| %>
        <div class= "alert <%= flash_class_name(key) %>">
            <%= value %>
        </div>
    <%end%>
    <%end%>

    <div class="container">

      <nav class="nav nav-inline">

        <a class="nav-link">
          <% if current_user %>
              <div class="alert alert-info">
                Welcome, <%= current_user.name %>
                <%= link_to 'Logout', logout_path, method: "delete" %>
              </div>
          <%else%>
              <%= link_to 'Login', new_session_path %>
          <%end%>
        </a>
      <%= yield %>
      </nav>
    </div>
</body>
</html>
